/* molish font from google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}
body{
    width: 1170px ;
    margin: auto;
}

header{
    /* padding: 50px 130px; */
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo img{
   
    width: 48px;
    height: 56px;
  
     
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 44px;
    font-size: 18px;
    font-weight: 400;
}

nav li a {
    text-decoration: none;

}
nav #home{
    color: #FF5400;
 
}
